<div class="markdown-editor hidden">
	<div class="top">
		<h3 align="center">Markdown editor</h3>
	</div>
	<div class="middle">
		<div class="left">
			<textarea id="md-editor" class="inputPane">
I I I I I I I I I I I I
M M M M M M M M M M M M</textarea>
		</div>
		<div class="right">
			<div id="parsed-markdown">

			</div>
		</div>
	</div>
	<div class="bottom">
		<button type="button" class="btn btn-default btnGetMarkdown" aria-label="Left dAlign">
			<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Copy and close 
		</button>
		<button type="button" class="btn btn-danger btnHideMarkdown" aria-label="Left dAlign">
			<span class="glyphicon glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel 
		</button>
	</div>
</div>