
<div class="markdown-editor hidden">
	<div class="top">
		top
	</div>
	<div class="middle">
		<div class="left">
				<textarea id="editor" class="inputPane">
I I I I I I I I I I I I
M M M M M M M M M M M M</textarea>
		</div>
		<div class="right">right</div>
	</div>
	<div class="bottom">
		bottom
	</div>
</div>