<div class="row">
	<div class="form-group">
		<div class="col-xs-6 list-count">
			<div class="values">
				<span class="prefix"></span>
				<span class="number"></span>
				<span class="text"></span>
			</div>
			<div class="spinner active"></div>
		</div>
		<div class="col-xs-6 sorting dropdown text-right">
			<div class="dropdown-toggle" data-toggle="dropdown">
				<span>Order</span> 
				"<span class="sorting-text" data-method="$naturalDesc">Created descending</span>"
			</div>
			<ul class="dropdown-menu pull-right"></ul>
		</div>
	</div>
</div>
<div class="row">
	<div id="list" class="location-list list-group">
		<!-- listItems will be added here-->
	</div>
</div>
<div class="row">
	<div class="list-count pull-right">
		<span class="number"></span>
		<span class="text"></span>
	</div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/list.js"></script>