 <h2 class="page-header" align="right">Dashboard</h2>
<p>Welcome {{{user.name}}}</p>  

Some shortcuts:
<ul>
    <li><a href="/parts/list">List parts</a></li>
    <li><a href="/parts/register">Add a new part</a></li>
    <li><a href="/types/list">List part types</a></li>
    <li><a href="/locations/list">List locations</a></li>
</ul>