<div class="row">
	<h3 class="page-header" align="right">Locations</h3>
</div>
{{#if errors}}
    <div class="error-container"> 
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
    </div>
{{/if}}
<div class="row">
	<p> </p>
</div>
<div class="row">
	<div id = "list" class="location-list list-group">
	<!-- listItems will be added here-->
	</div>
</div>
<div class="row">
	<div class="list-count pull-right" data-name="location">
		<span class="number"></span>
		<span class="text"></span>
	</div>
</div>
<script src="/js/bootstrap.min.js"></script>	
<script src="/js/list-locations.js"></script>	
