{{> partial_list_header }}

<div class="row search-inputs" data-name="{{dataName}}">
	<div class="col-xs-12 col-sm-4">
		<div class="form-group has-feedback">
			<input type="text" id="searchInput1" name="name" class="form-control search-input"
				placeholder="Filter list by name" title="Space seperated patterns" class="form-control">
			<span class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="form-group has-feedback">
			<input type="text" id="searchInput2" name="description" class="form-control search-input"
				placeholder="Filter list by description" title="Space seperated patterns" class="form-control">
			<span class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="form-group has-feedback">
			<input type="text" id="searchInput3" name="category" class="form-control search-input"
				placeholder="Filter list category" title="Space seperated patterns" class="form-control">
			<span class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="form-group">
		<div class="col-xs-6 list-count">
			<div class="values">
				<span class="prefix"></span>
				<span class="number"></span>
				<span class="text"></span>
			</div>
			<div class="spinner active"></div>
		</div>
		<div class="col-xs-6 sorting dropdown text-right">
			<div class="dropdown-toggle" data-toggle="dropdown">
				<span>Sorted by</span>
				<span class="sorting-text" data-method="lastModifiedDesc">Last modified reverse</span>
			</div>
			<ul class="dropdown-menu pull-right">
				<li><a href="#" data-method="lastModifiedDesc">Last modified descending</a></li>
				<li><a href="#" data-method="lastModified">Last modified</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div id="list" class="part-list list-group">
		<!-- listItems will be added here-->
	</div>
</div>
<div class="row">
	<div class="text-center">
		<button class="btn btn-default btn button-get-more" type="button">Get more</button>
	</div>
</div>
<div class="row">
	<div class="list-count pull-right">
		<div class="values">
			<span class="prefix"></span>
			<span class="number"></span>
			<span class="text"></span>
		</div>
		<div class="spinner"></div>
	</div>
</div>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/list.js"></script>
<script src="/js/list-parts.js"></script>