{{> partial_list_header }}

<div class="row search-inputs" data-name="{{dataName}}">
	<div class="col-xs-12 col-sm-4">
		<div class="form-group has-feedback">
			<input type="text" id="searchInput1" name="name" class="form-control search-input"
				placeholder="Filter list by name" title="Space seperated patterns" class="form-control">
			<span class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="form-group has-feedback">
			<input type="text" id="searchInput2" name="description" class="form-control search-input"
				placeholder="Filter list by description" title="Space seperated patterns" class="form-control">
			<span class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="form-group has-feedback">
			<input type="text" id="searchInput3" name="data" class="form-control search-input"
				placeholder="Filter list data" title="Space seperated patterns" class="form-control">
			<span class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>
	</div>
</div>

{{> partial_list_footer }}
<script src="/js/list-locations.js"></script>