<div class="row">
	<h3 class="page-header" align="right">Parts</h3>
</div>
{{#if errors}}
	<div class="error-container">
		{{#each errors}}
			<div class="alert alert-danger">{{msg}}</div>
		{{/each}}
	</div>
{{/if}}
{{#if listBySearch}}
	{{> partial_list_part_by }}
{{/if}}
<div class="row">
	<div class="list-by">
		<p class="col-sm-6 col-md-6 col-lg-6 col-xl-6">Ordered by last modified time</p>
        <button class="btn btn-default btn-xs pull-right" type="button">Order by name</button>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<button id="filter-button" class="btn btn-default btn-xs pull-right" type="button">Filter the list</button>
</div>
<div class="row search-inputs hidden">
	<div class="form-group col-xs-12 col-sm-6">
		<input type="text" id="searchInput1" class="search-input" placeholder="Filter list by first text" title="Type in your search" class="form-control">
	</div>
	<div class="form-group col-xs-12 col-sm-6">
		<input type="text" id="searchInput2" class="search-input" placeholder="Filter list by second text" title="Type in your search" class="form-control">
	</div>
</div>
<div class="row">
	<div id="list" class="part-list list-group">
		<!-- listItems will be added here-->
	</div>
</div>
<div class="row">
	<div class="list-count pull-right" data-name="part">
		<span class="prefix"></span>
		<span class="number"></span>
		<span class="text"></span>
	</div>
</div>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/list-parts.js"></script>
