<div class="row">
	<h3 class="page-header" align="right">Locations</h3>
</div>
{{#if errors}}
    <div class="error-container"> 
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
    </div>
{{/if}}
<div class="row">
	<div class="list-by">
		<p class="col-sm-6 col-md-6 col-lg-6 col-xl-6">Ordered by creation time</p>
        <button class="btn btn-default btn-xs pull-right" type="button">Order by name</button>
	</div>
</div>
<div class="row">
	<div id = "list" class="location-list list-group">
	<!-- listItems will be added here-->
	</div>
</div>
<div class="row">
	<div class="list-count pull-right" data-name="location">
		<span class="number"></span>
		<span class="text"></span>
	</div>
</div>
<script src="/js/bootstrap.min.js"></script>	
<script src="/js/list-locations.js"></script>	
