
<link rel="stylesheet" href="/css/row-buttons.css" />

{{#if item}} <!-- if you want to modify -->
    <h2 class="page-header" align="right">Modify a Part</h2>
            <script type="text/javascript">
            var item = {{{item}}};
        </script>
{{else}}
    <h2 class="page-header" align="right">Register a new Part</h2>
{{/if}}
{{#if errors}}
    <div class="error-container"> 
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
    </div>
{{/if}}

<form method="post" id="register-form" action ="/parts/register">
    <div class="row row-padd">
        <div class=" col-sm-2 col-md-2 col-lg-2 col-xl-1 " id="image-container" style="display: unset;">
            <img src="/files/images/5a88ddd76cb88120dcd06f98.jpg" style="max-width:160px;max-height:160px">
        </div>
        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-11">
            <label for="name">Part name</label>
            <input type="text"   id="name"     name="name" form="register-form" class="form-control" value="" placeholder="Type name">
            <div class="form-horizontal">
                <label for="description">Description</label>
                <div class="form-group">
                <div class="col-md-12">
                   <textarea id="description" name="description" form="register-form" class="form-control" rows="3" placeholder="Describe this part."></textarea>
                </div>
            </div>
</div>
        </div>
    </div>

    <div class="row row-padd">
        <div class=" col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div id ="div-type" class="form-group">
                <label>Type</label>
                <select id="type" name="type" class="form-control" form="user-form">
                    <option selected="selected" value="">No types registered</option>
                </select>
            </div>
        </div>
        <div class=" col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <label for="category">Category</label>
            <input type="text"   id="category" name="s" form="register-form" class="form-control" value="" placeholder="Write Category of this part">
        </div>
        <div class=" col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div id ="div-location" class="form-group">
                <label>Location</label>
                <select id="location" name="location" class="form-control" form="user-form">
                    <option selected="selected" value="">No location registered</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row row-padd">
        <div class=" col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <label for="first-acquired">Acquired</label>
            <input type="date"   id="first-acquired" name="first-acquired" form="register-form" class="form-control" value="" placeholder="When did you get this part first">
        </div>
        <div class=" col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <label for="last-modified">Last modified</label>
            <input type="date"   id="last-modified" name="last-modified" form="register-form" class="form-control" value="" placeholder="Write Category of this part">
        </div>
        <div class=" col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <label for="stock-count">Stock</label>
            <input type="number"   id="stock-count" name="stock-count" form="register-form" 
            class="form-control" value="" placeholder="How much is on stock"
             min="0" step="1"
            >
        </div>
    </div>
    <div class="row row-padd">
        <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div id ="div-supplier" class="form-group">
                <label>Supplier</label>
                <select id="supplier" name="supplier" class="form-control" form="user-form">
                    <option selected="selected" value="">No supplier registered</option>
                </select>
            </div>
        </div>
        <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div id ="div-manufacturer" class="form-group">
                <label>Manufacturer</label>
                <select id="manufacturer" name="manufacturer" class="form-control" form="user-form">
                    <option selected="selected" value="">No manufacturer registered</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col-sm-6 col-md-5 col-lg-5">
            <label>Files</label>
            <table id="files" class="row-buttons view edit delete">
                <tr><td>Option 1</td></tr>
                <tr><td>Option 2</td></tr>
                <tr><td>Option 3</td></tr>
                <tr><td>Option 4</td></tr>
                <tr><td>Option 5</td></tr>
                <tr><td>Option 6</td></tr>
                <tr><td>Option 7</td></tr>
                <tr><td>Option 8</td></tr>
                <tr><td>Option 9</td></tr>
                <tr><td>Option 10</td></tr>
            </table>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-5 pull-right">
            <label>Urls</label>
            <table id="urls" class="row-buttons view edit delete">
                <tr><td>Option 1</td></tr>
                <tr><td>Option 2</td></tr>
                <tr><td>Option 3</td></tr>
                <tr><td>Option 4</td></tr>
                <tr><td>Option 5</td></tr>
                <tr><td>Option 6</td></tr>
                <tr><td>Option 7</td></tr>
                <tr><td>Option 8</td></tr>
                <tr><td>Option 9</td></tr>
                <tr><td>Option 10</td></tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top:10px">
        <button id="btnSave" type="button" class="btn btn-success pull-right">Save</button>
        </div>
    </div>
</form>

<script src="/js/row-buttons.js"></script>
<script src="/js/register-part.js" type="text/javascript" charset="utf-8"></script>