{{#if item}} <!-- if you want to modify -->
      <h2 class="page-header" align="right">Modify Location</h2>
			<script type="text/javascript">
			var item = {{{item}}};
		</script>
{{else}}
      <h2 class="page-header" align="right">Register a new Location</h2>
{{/if}}

{{#if errors}}
    <div class="error-container"> 
        {{#each errors}}
          <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
    </div>
{{/if}}
<form method="post" id="register-form" action ="/locations/register">
    <div class="row row-padd">
		<label>Name</label>
			<p>Give the location a descriptive name, but not to long.</p>
		<input type="text"   id="name"     name="name" form="register-form" class="form-control" value="" placeholder="Type name">
	</div>
	
  <div class="form-horizontal">
    <label>Description</label>
    <p>Describe where this location is and how to find it. You could also say what kind of parts are kept at this location.</p>
    <div class="form-group">
      <div class="col-md-12">
        <textarea id="description" name="description" form="register-form" class="form-control" rows="3" placeholder="Describe this location."></textarea>
      </div>
    </div>
  </div>

  <button id="btnSave" type="button" class="btn btn-success pull-right">Save</button>
</form>


<script src="/js/register-location.js" type="text/javascript" charset="utf-8"></script>