{{#if item}}
<!-- if you want to edit a specific user -->
<script type="text/javascript">
	var item = {{{ item }}};
</script>
<h2 class="page-header" align="right">Modify user</h2>
{{else}}
<h2 class="page-header" align="right">Register user</h2>
{{/if}}

{{#if errors}}
<div class="error-container">
	{{#each errors}}
	<div class="alert alert-danger">{{msg}}</div>
	{{/each}}
</div>

<script type="text/javascript">
	var item = {{{ item }}};
</script>

{{/if}}

<form method="post" id="user-form">
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" placeholder="Name" id="name" name="name">
		<input type="hidden" id="id" name="id" value="">
	</div>
	<div class="form-group">
		<label>Username</label>
		<input type="text" class="form-control" placeholder="Username" id="username" name="username">
	</div>
	<div class="form-group">
		<label>Email</label>
		<input type="email" class="form-control" placeholder="Email" id="email" name="email">
	</div>
	<div class="form-group" style="padding-top: 20px;">
		<div class="row">
			<div class="col-xs-6">
				<h4>Colors</h4>
			</div>
			<div class="col-xs-6">
				<button id="btnResetUser" type="button" class="btn btn-default pull-right">Reset colors</button>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<label>Text</label>
				<input type="color" class="form-control color-picker" id="fontcolor" name="fontcolor" data-stylename="--user-font" value="#333333">
			</div>
			<div class="col-xs-6 col-sm-3">
				<label>Background</label>
				<input type="color" class="form-control color-picker" id="backgroundcolor" name="backgroundcolor" data-stylename="--user-background" value="#ffffff">
			</div>
			<div class="col-xs-6 col-sm-3">
				<label>Menu text</label>
				<input type="color" class="form-control color-picker" id="menufontcolor" name="menufontcolor" data-stylename="--user-menufont" value="#424242">
			</div>
			<div class="col-xs-6 col-sm-3">
				<label>Menu background</label>
				<input type="color" class="form-control color-picker" id="menubackgroundcolor" data-stylename="--user-menubackground" name="menubackgroundcolor"
					value="#f7f7f7">
			</div>
		</div>
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" placeholder="Password" id="password" name="password">
	</div>
	<div class="form-group">
		<label>Confirm Password</label>
		<input type="password" class="form-control" placeholder="Password" id="password2" name="password2">
	</div>
	<!--<button type="submit" class="btn btn-success">Submit</button>-->
	<div id="div-level" class="form-group">
		<label>User level</label>
		<select id="level" name="level" class="form-control" form="user-form">
			<option selected="selected" value="0">Normal user</option>
			<option value="1">Power user</option>
			<option value="2">Administrator</option>
		</select>
	</div>
</form>
<div class="row  row-padd">
	<div id="error-text" class="alert alert-danger pull-left" role="alert">
		<strong>Invalid form values, </strong> <span></span>
	</div>
	<button id="btnSaveUser" type="button" class="btn btn-success pull-right" style="margin-left: 10px;">Save User
		values</button>
	{{#if admin}}
	{{#if item}}
	<button id="btnDelete" type="button" class="btn btn-danger pull-right">Delete</button>
	{{/if}}
	{{/if}}
</div>

<script src="/js/register-user.js" type="text/javascript" charset="utf-8"></script>