{{#if item}}
<!-- if you want to modify -->
<h2 class="page-header" align="right">Modify Action</h2>
<script type="text/javascript">
  var item = {{{ item }}};
</script>
{{else}}
<h2 class="page-header" align="right">Register a new Action</h2>
{{/if}}

{{#if errors}}
<div class="error-container">
  {{#each errors}}
  <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
</div>
{{/if}}
<form method="post" id="register-form" action="/actions/register">
  <div class="form-group type">
    <label>Action type</label>
    <select id="action-type" name="type" class="access-select form-control" required>
      <option value="HTTP_GET" title="HTTP GET request" selected="">HTTP GET request</option>
    </select>
  </div>
  <div class="row row-padd">
    <label>Name</label>
    <p>Give the action a descriptive name, but not to long.</p>
    <input type="text" id="name" name="name" form="register-form" class="form-control" value=""
      placeholder="Name of the trigger action">
  </div>

  <div class="form-horizontal">
    <label>Description</label>
    <p>Describe where this action is and how to find it. You could also say what kind of parts are kept at this action.
    </p>
    <div class="form-group">
      <div class="col-md-12">
        <textarea id="description" name="description" form="register-form" class="form-control" rows="3"
          placeholder="Describe this action."></textarea>
      </div>
    </div>
  </div>
  <div class="form-group url">
    <label>Url</label>
    <input id="url" type="text" class="form-control"
      placeholder="http://www.someurl.com:5100?somevarforPinvalue1=<<DATA>>" name="url" required>
    <p class="triggerAction-input-text" title="The minimum time between logs"></p>
  </div>

  {{#if admin}}
  <button id="btnSave" type="button" class="btn btn-success pull-right">Save</button>
  {{#if item}}
  <button id="btnView" type="button" class="btn btn-default pull-right">View parts</button>
  <button id="btnDelete" type="button" class="btn btn-danger pull-right">Delete</button>
  {{/if}}
  {{/if}}
</form>


<script src="/js/register-action.js" type="text/javascript" charset="utf-8"></script>