{{#if item}} <!-- if you want to modify -->
      <h2 class="page-header" align="right">Modify Manufacturer</h2>
			<script type="text/javascript">
			var item = {{{item}}};
		</script>
{{else}}
      <h2 class="page-header" align="right">Register a new Manufacturer</h2>
{{/if}}

{{#if errors}}
    <div class="error-container"> 
        {{#each errors}}
          <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
    </div>
{{/if}}
<form method="post" id="register-form" action ="/manufacturers/register">
    <div class="row row-padd">
		<label>Name</label>
			<p>Name of the manufacturer.</p>
		<input type="text"   id="name"     name="name" form="register-form" class="form-control" value="" placeholder="Type name">
	</div>
	
  <div class="form-horizontal">
    <label>Description</label>
    <p>Here you can type more information about this manufacturer.</p>
    <div class="form-group">
      <div class="col-md-12">
        <textarea id="description" name="description" form="register-form" class="form-control" rows="3" placeholder="Information about this manufacturer."></textarea>
      </div>
    </div>
  </div>

  <div class="row row-padd">
		<label>Web page</label>
			<p>Web page of the manufacturer.</p>
		<input type="text"   id="url"     name="url" form="register-form" class="form-control" value="" placeholder="Type the manufacturers ">
	</div>
  

  <button id="btnSave" type="button" class="btn btn-success pull-right">Save</button>
  {{#if item}}  
  <button id="btnDelete" type="button" class="btn btn-danger pull-right">Delete</button>
  {{/if}}
</form>


<script src="/js/register-manufacturer.js" type="text/javascript" charset="utf-8"></script>