table.list-commands{
	overflow-y:scroll;
   height:100px;
   display:block;
   width:100%;
}


table.list-commands .list-command-delete {
	color:red;
}
table.list-commands .list-command-view,table.list-commands .list-command-edit,table.list-commands .list-command-delete {
	width:28px;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
	padding-left: 0px;
	
}
table.list-commands td.commands {
	float:right;
	white-space: nowrap;
}
table.list-commands.view.edit.delete td.commands {
	min-width: 84px;
}
table.list-commands.view.edit td.commands, table.list-commands.view.delete td.commands, table.list-commands.edit.delete td.commands{
	min-width: 56px;
}
table.list-commands.view td.commands, table.list-commands.edit td.commands, table.list-commands.delete td.commands {
	min-width: 28px;
}
table.list-commands td.item {
	width:98%;
}
table.list-commands tr:hover { background:#f5f5f5}
/*
table.list-commands tr:hover td.item { 
	text-decoration:underline;
}
table.list-commands tr:hover td.item:after { 
	content:" -";
}*/