div.markdown-editor {
    background-color: var(--user-background);
    width: 100%;
    height: 100%;
    z-index: 20000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: space-between;
}

div.markdown-editor .top,
div.markdown-editor .middle,
div.markdown-editor .bottom {
    width: 100%;
}

div.markdown-editor .top,
div.markdown-editor .bottom {
    height: 80px;
    background: var(--user-menubackground);
}

div.markdown-editor .top {
    border-radius: 20px 20px 0px 0px;
}

div.markdown-editor .middle {
    display: flex;
    justify-content: space-evenly;
}

div.markdown-editor .bottom {
    border-radius: 0px 0px 20px 20px;
}

.inputPane {
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    background: var(--user-menubackground);
}

div.markdown-editor .middle {
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-evenly;
}

div.markdown-editor .middle .left {
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 50%;
}

div.markdown-editor .middle .right {
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: stretch;
    align-items: stretch;
    width: 50%;
    padding: 2px;
}

#md-editor {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
    font-size: 12px;
    resize: none;
    overflow-y: auto;
    overflow-x: auto;
    padding: 5px;
}

div.markdown-editor .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

#parsed-markdown {
    height: 100%;
}

.right img {
    vertical-align: middle;
    max-width: 100%;
}

.markdown-editor pre {
    color: var(--user-menufont);
    background-color: var(--user-menubackground);
}

.markdown-editor table {
    border-spacing: 5px 5px !important;
    border-collapse: unset;
}