:root {
    --user-font: #333333;
    --user-background: #ffffff;
    --user-menufont: #424242;
    --user-menubackground: #f7f7f7;
}

.footer {
    border-top-color: #42424240;
}

.list-group-item {
    border-color: #33333340;
}


/* Space out content a bit */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}


/* Custom page header */

.header {
    padding-bottom: 20px;
    /* border-bottom: 1px solid #e5e5e5;*/
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    border-top: 1px solid #e5e5e5;
}


/* Customize container */


/* @media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
} */

.container-narrow>hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    /*border-bottom: 1px solid #e5e5e5;*/
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p+h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.page-header {
    margin-top: -20px;
    margin-right: 15px;
    border-bottom: 0px;
}

footer {
    margin-top: 40px;
}

.row-padd {
    padding-left: 15px;
    padding-right: 15px;
}

.row-nopadd {
    padding-left: 0px;
}

.row-padd:after {
    display: block;
    content: '';
    /*background: lightskyblue;*/
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    height: 1px;
}

.list-group-item>span>button {
    margin-right: 7px;
}

.list-group-item>span>a {
    margin-right: 7px;
}

.list-group-item>span>button:last-child {
    margin-right: 0px;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
    margin-top: 0;
    /* remove the gap so it doesn't close*/
    color: red !important;
}

.list-group-item-heading {
    font-size: 14px;
    margin-bottom: 0px;
}

.list-group-item-heading::first-letter {
    font-size: 16px;
    font-weight: 600;
}

.list-group-item-text {
    margin-top: 0px;
    position: relative;
    top: -5px;
    font-size: 12px;
    font-style: italic;
}

.list-group-item-owner {
    margin-top: 0px;
    position: absolute;
    top: 0px;
    font-size: 7px;
    left: 5px;
}

.list-group-item .top-left {
    float: right;
}

.error-response-text {
    background: #f2dede;
    color: #a94442;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin: 5px 0px 5px;
    border-radius: 5px;
}

li>a>span {
    padding-right: 5px;
    opacity: 0;
    filter: alpha(opacity=0);
}

li .checked>a>span {
    opacity: 0.7;
    filter: alpha(opacity=70);
}


/* ---------    submenu start     ---------    */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

ul>li.menu-item.dropdown.dropdown-submenu>ul {
    display: none !important;
}

ul>li.menu-item.dropdown.dropdown-submenu:hover>ul {
    display: block !important;
}


/* ---------    submenu end     ---------    */

#markdown>pre {
    background: #f2f2f2;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.markdown pre,
#parsed-markdown pre code {
    line-height: 1.2;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.form-upload {
    margin-top: 50px;
}

.inputDialog {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    padding: 20px;
    margin: 5px 0px 5px;
    border-radius: 8px;
    z-index: 1001;
}

.inputDialog>button {
    margin-left: 20px;
}

.inputDialogPin {
    font-weight: bold;
}

.inputDialogText {
    margin-bottom: 10px;
}

.overlay {
    opacity: 0.6;
    display: none;
    background-color: #ccc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.unknownValue {
    color: gray;
    font-style: italic;
}


/*log start*/

#table-log>tbody {
    font-size: 10px;
}

.datetime-td {
    min-width: 115px;
}

.pin-type-0 {
    /*INPUT_ANALOG*/
    color: black;
}

.pin-type-1 {
    /*INPUT_DIGITAL*/
    color: blue;
}

.pin-type-2 {
    /*OUTPUT_ANALOG*/
    color: darkgreen;
}

.pin-type-3 {
    /*OUTPUT_DIGITAL*/
    color: brown;
}

button.btn-log-pins {
    margin-right: 15px;
    margin-left: 15px;
}

.error-container {
    margin-top: 20px;
}

.btnView,
#btnSave,
#btnView,
#btnDelete,
#btnClone {
    margin-left: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.input-group #fileName {
    margin-left: -1px;
}

.image-container {
    /*position: relative;*/
    margin-top: -65px;
}

#list .list-group-item>a>img {
    max-width: 50px;
    max-height: 60px;
    position: relative;
    margin-right: 15px;
    border-radius: 5px;
}

img.list-item-image {
    float: left;
}

.select-dropdown-actions .caret {
    border-top: 4px solid gray;
}

.register-form>.part-values>label {
    border-top: 50px !important;
}

form.part-form select,
input {
    margin-bottom: 15px !important;
}

.register-form .browse-file-btn>label>span {
    margin-top: -14px;
}

.register-form .browse-part-image-btn>label>span {
    margin-top: -14px;
    position: absolute;
    height: 160px;
    width: 160px;
    margin-top: -160px;
    left: -5px;
    opacity: 0;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.temp-image.text {
    position: absolute;
    top: 73px;
    left: 13px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    /*transform: rotate(15Deg);*/
    opacity: 0.78;
    font-size: 18px;
    text-align: center;
    border-radius: 12px;
    padding: 11px;
}

a.temp-image.text:hover {
    opacity: 1 !important;
    text-decoration: none !important;
}

a.temp-image.text>p {
    padding-top: 5px;
}

.part-form .image-container {
    margin-top: 5px;
}

.cancel-button {
    margin-right: 8px !important;
}

#part-image-container .commands.item {
    position: absolute;
    top: 84px;
}

.modal-dialog input {
    width: 94%;
    margin-left: 3%;
}

.modal-dialog .modal-body2 {
    position: relative;
    padding: 15px;
}

.files-and-urls,
.location-box {
    padding-right: 30px;
    padding-left: 30px;
}

.files-and-urls table,
.location-box table {
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.files-and-urls .btn-add,
.location-box .btn-add {
    padding: 3px 3px;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
    margin-bottom: 8px;
}

.form-control {
    background-color: #3c763d0f;
}

.search-input {
    background-color: #3c763d0f;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-background {
    background: var(--user-background);
}

.user-menufont {
    color: var(--user-menufont);
}

.user-menubackground {
    background: var(--user-menubackground);
}

.user-font {
    color: var(--user-font);
}

a {
    color: var(--user-menufont);
}

a:hover {
    color: var(--user-menufont);
}

body {
    background: var(--user-background);
    color: var(--user-font);
}

.dropdown {
    color: var(--user-menufont);
}

.dropdown-menu>li>a {
    color: var(--user-menufont);
}

.dropdown a {
    color: var(--user-menufont);
}

.form-control {
    color: var(--user-menufont);
}

.list-group-item {
    background-color: var(--user-background);
}

ul.dropdown-menu {
    background-color: var(--user-menubackground);
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: var(--user-menubackground);
}

svg.background-color {
    background-color: var(--user-background);
}

svg .fill-background {
    fill: var(--user-background);
}

svg .fill-menufont {
    fill: var(--user-menufont);
}

svg .stroke-menufont {
    stroke: var(--user-menufont);
}

svg .stroke-background {
    stroke: var(--user-background);
}

option {
    background: var(--user-menubackground);
}

.dashboard {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.dashboard .summary {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--user-menufont);
    background-color: var(--user-menubackground);
    padding: 0px;
    height: 45px;
    margin: 10px;
    /* width: 150px; */
    display: flex;
    flex-wrap: wrap;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    border-color: var(--user-menufont);
    background-color: var(--user-menufont);
}

.dashboard .summary:hover {
    border-color: var(--user-font);
    background-color: var(--user-menufont);
}

.dashboard .summary:hover div div.text {
    color: var(--user-menubackground);
}

.dashboard .summary:hover .count {
    color: var(--user-menufont);
    background-color: var(--user-menubackground);
}

.dashboard .summary div {
    height: 100%;
}

.dashboard .summary .text {
    border-radius: 5px;
    height: 100%;
    width: 105px;
    padding-left: 8px;
    display: flex;
    align-items: center;
}

.dashboard .summary .item {
    height: 100%;
    display: flex;
}

.dashboard .summary .count {
    height: 100%;
    width: 50px;
    background-color: var(--user-menufont);
    color: var(--user-menubackground);
    padding-right: 0px;
    border-radius: 5px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .summary a:hover {
    text-decoration: none;
}

.spinner {
    border: 6px solid var(--user-font);
    /* Light grey */
    border-top: 6px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s infinite;
    animation-timing-function: ease;
    display: none;
}

.spinner.active {
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.listby {
    margin-bottom: 24px;
}

.listby .name {
    font-weight: 700;
}

.listby .filter {
    font-size: 18px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

textarea[name=description] {
    font-family: 'Courier New', Courier, monospace;
}

.register-file.has-advanced-upload.is-dragover {
    background: rgb(255 255 255 / 10%);
}

.want-file.has-advanced-upload.is-dragover {
    background: rgb(255 255 255 / 10%);
}

.markdown-editor table td,
.view.part table td {
    border-style: solid;
    border: 1px solid var(--user-menubackground);
}

.markdown-editor table,
.view.part table {
    border-spacing: 0px 0px !important;
    border-collapse: unset;
    border: 1px solid var(--user-font);
}

.markdown-editor table th,
.markdown-editor td,
.view.part table th,
.view.part table td {
    padding-left: 3px;
    padding-right: 3px;
}